<div class="grey-background margin-bottom-xs" style="border-radius:5px;padding:5px;" id="messages">
     <div><%= @message.message %></div>
     <div><small>"<%= @message.user.full_name%>"</small></div>
</div>
