<div id="wrapper">
    <h2 class="text-center">Watch with friends : <span class="font-color-red"> <%= @movie.title%></span></h2>
    <div align="center">
        <%= link_to "Create Invitation",create_invitation_movie_path(@movie),remote:true,class:"btn btn-default btn-lg",data:{confirm:"Are you sure you want to create invitation for this movie?"}%>
        <%= link_to "Accept Invitation",accept_invitation_movie_path(@movie),remote:true,class:"btn btn-default btn-lg"%>
    </div>
</div>


