$navbar-default-bg: transparent;
$btn-default-bg: #e50914;
$btn-default-color: #fff;
$btn-default-border: transparent;
$alert-danger-bg: #e50914;
$alert-danger-border: transparent;
$alert-success-bg:#1DB954;
$alert-success-border: transparent;
$alert-success-text:#fff;
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";


